<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sergiojuliogu.myapplication">

    <uses-sdk tools:overrideLibrary="android.support.v17.leanback" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="Registro"
            android:parentActivityName=".Activities.LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.VERSION"
                android:value="25.3.1"
                tools:replace="android:value" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.LoginActivity" />
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AvatarsActivity"
            android:excludeFromRecents="true"
            android:label="Avatares"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activities.ProjectActivity"
            android:label="Proyecto"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="Editar Perfil"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.NewProjectActivity"
            android:label="Nuevo Proyecto"
            android:parentActivityName=".Activities.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.SearchUserActivity"
            android:label="Agregar Usuario"
            android:parentActivityName=".Activities.ProjectActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Activities.UpdateProjectActivity"
            android:label="Actualizar Proyecto"
            android:parentActivityName=".Activities.ProjectActivity" />
        <activity
            android:name=".Activities.SprintsActivity"
            android:label="Sprints"
            android:parentActivityName=".Activities.ProjectActivity" />
        <activity
            android:name=".Activities.SprintActivity"
            android:label="Sprint"
            android:parentActivityName=".Activities.SprintsActivity" />
        <activity
            android:name=".Activities.NewSprintActivity"
            android:label="Nuevo Sprint"
            android:parentActivityName=".Activities.SprintsActivity" />
        <activity
            android:name=".Activities.SprintUpdateActivity"
            android:label="Actualizar Sprint"
            android:parentActivityName=".Activities.SprintActivity" />
        <activity
            android:name=".Activities.StatusActivity"
            android:label="Tablero"
            android:parentActivityName=".Activities.SprintActivity" />
        <activity
            android:name=".Activities.ClosedStatusActivity"
            android:label="Estados cerrados"
            android:parentActivityName=".Activities.StatusActivity" />
        <activity
            android:name=".Activities.NewTaskActivity"
            android:label="Nueva Tarea"
            android:parentActivityName=".Activities.StatusActivity" />
        <activity
            android:name=".Activities.TaskActivity"
            android:label="Tarea"
            android:parentActivityName=".Activities.StatusActivity"
            ></activity>
    </application>

</manifest>